model/
LLM/
data_cached/
logs/
Result/
result/
Figure/
insight2/
PathogLM/
pTCR/
trained_model/
uniport/

*.pt
*.csv
*.pyc
*.json
*.txt
*.fasta
*.fasta.gz
*.npy

!Pre-training/bert_data_prepare/blosum62.json
!Pre-training/config/*.json
!Pre-training/logger/logger_config.json

!Downstream/B_cell_epitope/data/**/*.csv
!Downstream/B_cell_epitope/data/**/*.fasta
!Downstream/pMHC-I/data/**/*.csv
!Downstream/pMHC-I/data/**/*.fasta
!Downstream/pMHC-II/data/**/*.csv
!Downstream/pMHC-II/data/**/*.fasta
!Downstream/protective_antigen/data/**/*.csv
!Downstream/protective_antigen/data/**/*.fasta
!Downstream/pTCR2/data/**/*.csv
!Downstream/pTCR2/data/**/*.fasta

# Too large for regular GitHub repositories.
Downstream/pMHC-I/data/Independent\ data/el_train.csv
